*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* ---- GLOBAL ---- */
body{
    background: #e9eef3;
    color: #333;
    scroll-behavior: smooth;
}


/* ---- SIDEBAR ---- */
.sidebar{
    width: 280px;
    background: linear-gradient(180deg, #2b2b2b, #1d1d1d);
    color: #fff;
    height: 100vh;
    position: fixed;
    padding: 25px;
    overflow: hidden;
    box-shadow: 4px 0 10px rgba(0,0,0,0.3);
}

.sidebar img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display:block;
    border: 3px solid black;
    margin: 0 auto 15px auto;
}

.name{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.sub-text{
    text-align: center;
    font-size: 13px;
    margin-bottom: 8px;
    color: #bbb;
}

.sidebar a{
    display: block;
    color: white;
    text-decoration: none;
    margin: 6px 0;
    padding: 6.8px;
    background: #3a3a3a;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.3s ease;
}

.sidebar a:hover{
    background:  #cc752e;
    color: #000;
    transform: translateX(6px);
}

.contact-link{
    color: #77c4ffca;
    text-decoration: none;
}

.sidebar h3{
    margin-top: 10px;
    font-size: 16px;
}

/* ---- MAIN ---- */
.main{
    margin-left: 260px;
    padding: 30px;
    width: calc(100% - 260px);
}

/* ---- SECTIONS ---- */
.section{
    background: #fff;
    padding: 22px;
    border-radius: 10px;
    margin-bottom: 35px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: 0.3s ease;
}

.section:hover{
    transform: translateY(-6px);
}

.section h2{
    margin-bottom: 12px;
    color: #ff4d00c8;
    border-bottom: 2px solid #0044ff2d;
    display: inline-block;
    padding-bottom: 5px;
    font-size: 22px;
}

/* ---- ITEMS ---- */
.item{
    margin-bottom: 18px;
}

.item h3{
    margin-bottom: 6px;
    color: #444;
}

/* ---- LISTS ---- */
ul{
    margin-left: 20px;
    margin-top: 5px;
}

/* ---- SKILL TAGS ---- */
#skills ul{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style: none;
}

#skills li{
   
    color: black;
    padding: 8px 10px;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.3s;
    cursor: default;
}

#skills li:hover{
    background: #002ccc70;
    transform: scale(1.10);
}

/* ---- CERTIFICATE LINKS ---- */
.cert-link{
    color: #0022ffa9;
    font-weight: bold;
}

.cert-link:hover{
    color: #003cb5dc;
    text-decoration: underline;
}

/* ---- ABOUT ---- */
#about p{
    line-height: 1.7;
    font-size: 15px;
    color: #444;
}

/* ---- RESPONSIVE ---- */
@media(max-width: 850px){
    .sidebar{
        position: static;
        width: 100%;
        height: auto;
        box-shadow: none;
    }

    .main{
        margin-left: 0;
        width: 100%;
        padding: 20px;
    }
}




